{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">
    <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
    <caption>{% trans 'Reports' %}</caption>
    {% for slug, report in reports %}
        <tr>
            <th scope="row"><a href="{% url reporting-view slug %}">{{ report.verbose_name }}</a></th>
        	<td>&nbsp;</td>
        </tr>
    {% endfor %}
    </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Report Section' %}</h2>
        <p>Welcome to the django-reporting.</p>
    </div>
</div>
{% endblock %}