{% extends "admin/change_list.html" %}
{% load admin_list i18n reporting_tags %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="/admin/">{% trans "Home" %}</a> &rsaquo;
	<a href="{% url 'reporting-list' %}">Reports</a> &rsaquo;
	{{report.verbose_name}}
</div>
{% endblock %}

{% block object-tools %}
    {% if report.export_formats %}
        <ul class="object-tools">
            {% block object-tools-items %}
                {% for format in report.export_formats %}
                    <li><a href="{% url 'reporting-export' slug format %}?{{ request.META.QUERY_STRING }}">{{ format }}</a></li>
                {% endfor %}
            {% endblock %}
        </ul>
    {% endif %}
{% endblock %}
