{% extends "reporting/simple.html" %}
{% load admin_list i18n reporting_tags %}
{% load url from future %}

{% block filters %}
	{% if report.has_filters %}
		<div id="changelist-filter">
			{% if report.grouper.has_output %}
				{% report_grouping report %}
			{% endif %}
			<h2>{% trans 'Filter' %}</h2>
			{% for spec in report.filter_specs %}{% admin_list_filter report spec %}{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block result_list %}
	{% report_result_list report %}
{% endblock %}
